@font-face {
    font-family: Open-Sans-Bold;
    src: url(../fonts/open-sans.bold.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(../fonts/open-sans.regular.ttf);
}

body{
	font-family: 'Open-Sans';
}

a{
	color: #49c2c2;
}

a:hover{
	color: #49c2c2;
	text-decoration: underline;
}

p{
	line-height: 1.9em;
}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #49c2c2;
    border-color: #49c2c2;
}

.dg-banner-background{
	background-color: #49c2c2;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dg-banner-h2{
	color: #ffffff;
	text-align: center;
	font-family: 'Open-Sans-Bold';
}

.dg-banner-p{
	font-family: 'Open-Sans';
	color: #ffffff;
	text-align: center;
	font-size: 18px;
}

.dg-banner-input-group{
	padding: 20px 0px;
}

.dg-banner-input{
	box-shadow: -6px 0px 0px 5px rgba(255, 255, 255, 0.24) !important;
}

.dg-banner-btn{
	box-shadow: 5px 0px 0px 5px rgba(255, 255, 255, 0.24) !important;
	background-color: #d00041;
	color: #ffffff;
	font-size: 14px;
	padding: 13px;
}

.dg-banner-btn:hover{
	background-color: #d00041;
	color: #ffffff;
	font-size: 14px;
	padding: 13px;
}

.dg-banner-image{
	margin-top: -100px;
	width: 100%;
}

.dg-subscribe-background{
	background-color: #3fb0b0;
	padding-top: 35px;
    padding-bottom: 26px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.dg-subscribe-background span{
	color: #dfff67;
    font-size: 20px;
    font-weight: bold;
}

.dg-subscribe-background a{
	background-color: #d00041;
    padding: 13px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.dg-featured-background, .dg-subscribe-footer-background {
	background-color: #f7f7f7;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 30px;
}

.dg-featured-background h2, .dg-subscribe-footer-background h2{
	font-family: 'Open-Sans-Bold';
}

.dg-featured-background p, .dg-subscribe-footer-background p{
	font-size: 20px;
	color: #757575;
	margin-bottom: 29px;
}

.dg-featured-background img{
	width: 100%;
	margin-bottom: 30px;

}

.dg-latest-news-background{
	padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.dg-latest-news-background h2{
	font-family: 'Open-Sans-Bold';
}

.dg-latest-news-background p{
	font-size: 20px;
	color: #757575;
	margin-bottom: 29px;
}

.dg-latest-news-background img{
	width: 100%;
	margin-bottom: 30px;
}

.dg-latest-news-background a{
	background-color: #49c2c2;
    color: #ffffff;
    padding: 14px 26px;
    border-radius: 4px;
    margin: 4px;
    text-decoration: none;
}

.dg-subscription-form{
	background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dg-subscription-form span{
	color: #49c2c2;
	font-family: 'Open-Sans-Bold';
}


.dg-subscription-form button{
	background-color: #49c2c2;
    color: #ffffff;
    padding: 14px 26px;
    border-radius: 4px;
    margin: 4px;
    text-decoration: none;
    border: 1px solid;
    font-size: 23px;
    margin-top: -15px;
}


.dg-footer-background{
	background-color: #333333;
	color: #ffffff;
	padding-top: 20px;
    padding-bottom: 20px;
}

.dg-footer-background hr{
	margin-top: 9px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #3c3c3c;
}

.dg-footer-background .footer-header{
	font-family: 'Open-Sans-Bold';
}

.dg-footer-logo-sub{
	text-align: right;
    padding-top: 9px;
}

.footer-help, .footer-icon{
	margin-left: -40px;
}

.footer-help li{
	list-style: none;
	margin-bottom: 5px;
}

.footer-help a, .footer-icon a{
	color: #ffffff;

}


.footer-icon li{
	display: inline-block;
    background-color: #49c2c2;
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 11px;
    border-radius: 25px;
}

.footer-icon a{
	font-size: 20px;
}

.dg-footer-submit, .dg-footer-submit:hover{
	background-color: #49c2c2;
    color: #ffffff;
    padding: 10px 1px;
    border-radius: 4px;
    margin-top: 13px;
    width: 100%;
}

.dg-footer-copyright{
	background-color: #252525;
	color: #ffffff;
	padding-top: 20px;
    padding-bottom: 8px;
}

.register-form, .login-form, .dg-about-title, .dg-about-content, .dg-pricing-content, .dg-contact-content{
	padding-top: 40px;
    padding-bottom: 40px;
}

.register-form img, .login-form img, .dg-about-content img{
	width: 100%;
}

.register-form h2, .login-form h2, .dg-contact-content h2{
	font-family: 'Open-Sans-Bold';
}

.dg-register-submit, .dg-register-submit:hover{
	background-color: #49c2c2;
    color: #ffffff;
    padding: 10px 1px;
    border-radius: 4px;
    width: 100%;
    border-color: #49c2c2;
}

.dg-about-container h2{
	font-family: 'Open-Sans-Bold';
}

.dg-about-content .row{
	margin-bottom: 50px;
}

.dg-about-container p, .dg-contact-content p{
	color: #757575;
}

.dg-about-title{
	background-color: #f7f7f7;
}

.dg-about-title h2{
	margin-bottom: 0px;
}

.dg-services-items {
	border: 1px solid #d0d0d0;
}

.dg-services-items .content{
	border-top: 5px solid #49c2c2;
	padding: 10px 20px;
}

.dg-services-items .content h4{
	font-family: 'Open-Sans-Bold';
	color: #49c2c2;
}

.dg-pricing-free, .dg-pricing-professional, .dg-pricing-business{
	text-align: center;
	border: 1px solid #d0d0d0;
	margin-bottom: 25px;
}
.pricing-head{
	padding: 1px;
}

.pricing-head p{
	margin-top: 50px;
	font-size: 18px;
}

.pricing-head .currency{
	font-size: 50px;
}

.pricing-head .price{
	/*font-size: 150px;*/
	font-size: 90px;
}

/*Edited*/
.dg-pricing-free .pricing-head, .dg-pricing-free .pricing-btn{
	background-color: #49c2c2;	
}

.dg-pricing-professional .pricing-head, .dg-pricing-professional .pricing-btn{
	background-color: #9abd2b;	
}

.dg-pricing-business .pricing-head, .dg-pricing-business .pricing-btn{
	background-color: #d00041;	
}

.pricing-content h3{
	color: #757575;
	line-height: 1.4em;
}

.pricing-content{
	padding: 1px 25px 20px 25px;
	min-height: 250px;
}

.pricing-content p{
	margin-bottom: 30px;
}

.pricing-head h2,.pricing-head p{
	font-family: 'Open-Sans-Bold';
	color: #ffffff;
}

.pricing-btn{
	color: #ffffff !important;
    text-decoration: none;
    padding: 11px 60px;
    border-radius: 8px;
    font-size: 20px;
}

.pricing-btn:hover{
	text-decoration: none;
}

.pricing-btn:hover{
	color: #ffffff !important;
}

.dg-pricing-content h3{
	font-family: 'Open-Sans-Bold';
}

.dg-pricing-content .icon{
	width: 16%;
    font-size: 80px;
    float: left;
    color: #49c2c2;
}
    
.pricing-feauted-content{
	padding-left: 17%
}

.dashboard{
	background-color: #f0f9f9;
}

.dashboard-nav{
	background-color: #ffffff;
	height: 100%;
}


.dashboard-nav img{
	width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 35px;
}

.dashboard-nav h2{
	color: #49c2c2;
}

.dashboard-nav h5{
	color: #979595;
}

.follow-section{
	 width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    margin-left: 0px;
}

.follow-section span{
	color: #49c2c2;
}

.following, .followers{
	border: 1px solid #e5ebeb;
    padding: 3px 9px;
}

.user-navigation ul{
	list-style: none;
	padding-left: 0px;
}

.user-navigation p{
	padding: 5px 18px;
    border: 1px solid #e5ebeb;
    font-size: 16px;
    color: #7c7c7c;
    margin-bottom: -1px;
    border-left: 0px;
    border-right: 0px;
}

.user-navigation a:hover{
    text-decoration: none;
}

.user-navigation a:hover p{
	background-color: #49c2c2;
	color: #ffffff;
}

.user-navigation a.active p{
	background-color: #49c2c2;
	color: #ffffff;	
}

.user-navigation .fa{
	width: 30px;
    text-align: center;
    margin-right: 5px;
    opacity: 0.6;
}


.section{
	background-color: #ffffff;
    padding: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section h1, .section h2, .section h3, .section h4 {
	font-family: "Open-Sans-Bold";
	color: #414141;
	margin-top: 0px;
}

.section p{
	color: #757575;
}


.profile-image{
	text-align: center;
}

.profile-image img{
	border-radius: 25px;
    width: 160px;
    height: 160px;
}

.profile-name{
    font-size: 26px;
    color: #49c2c2 !important;
    margin-bottom: -5px;
}

.profile-status{
	color: #979595;
}

.follow-status-profile td{
	padding: 8px 16px;
    border: 1px solid #e5ebeb;
}

.follow-status-profile span{
	color: #49c2c2;
	margin-left: 5px;
}

.follow-btn{
 	color: #7f7f7f;
    padding: 3px 16px;
    margin-top: 10px;

}

.icon i{
	    font-size: 75px;
    /* background-color: #49c2c2; */
    width: 87px;
    padding: 8px 10px;
    color: #49c2c2;
    border-radius: 25px;
}

.image-form{
    background-color: #ddd !important;
    padding-bottom: 40px !important;
}

.pad-10{
	padding: 16px;
}


.download-list img{
	max-width: 75px;
    max-height: 75px;
}

.single-prod-header{
	background-color: #f7f7f7;
	padding-top: 20px;
	border-bottom: 2px solid #eaeaea;
}

.single-prod-header h1{
	font-family: 'Open-Sans-bold';
	color: #414141;
}


.single-prod-nav{
	padding: 14px 0px;
}

.single-prod-nav a{
	padding: 16px;
	color: #757575;
	margin-right: -4px;
}

.single-prod-nav a:hover, .single-prod-nav a.active{
	background-color: #ffffff;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 2px solid #ffffff;
    margin-right: -4px;
    color: #757575;
    text-decoration: none;
}

.single-prod-content{
	padding: 20px 0px;
}

.single-prod-content h2, .single-prod-content h3, .single-prod-content h4, .single-prod-content h5, .single-prod-content h6{
	font-family: 'Open-Sans-Bold';
	margin-top: 0px;
}

.single-prod-section{
	border: 1px solid #eaeaea;
    padding: 15px;
    margin-top: 20px;
}

.breadcrumbs-custom a{
	font-size: 16px;
    font-family: 'Open-Sans';
    color: #757575;
}

.breadcrumbs-custom .fa{
	margin-right: 5px;
	margin-left: 5px;
}

.product-details-btn{
	text-align: center;
}

.colored-btn, .colored-btn:hover{
	color: #ffffff;
	background-color: #49c2c2;
}

.download-btn, .download-btn:hover{
	background-color: #49c2c2;
    color: #ffffff;
    width: 100%;
    font-size: 27px;
}

.download-section{
	font-size: 25px;
	color: #979595;
}

.download-section i{
	font-size: 23px;
    padding: 13px;
    background-color: #49c2c2;
    color: #fff;
    border-radius: 25px;	
}

.download-section .count{
	margin-left: 5px;
    font-size: 26px;
    font-family: 'Open-sans-bold';
    color: #49c2c2;
}

.prod-detail-description{
	color: #757575;
    margin-top: 35px;
    margin-bottom: 35px;
}

.main-featured{
	padding-top: 15px;
}

.main-featured h3{
    color: #414141;
}

.form-custom .form-control{
	padding: 5px;
}

.latest-prod{
	height: 90%;
	width: 90%;
    position: absolute;
    margin-left: 0;
    left: 12px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    top: -4px;
    background-color: rgba(0, 0, 0, 0.38) !important;
    border-radius: 0px !important;
    opacity: 0;
}

.latest-prod i{
	    margin-top: 40%;
    padding: 14px;
    font-size: 20px;
    background-color: #49c2c2;
    border-radius: 25px;
}

.latest-prod:hover{
	background-color: rgba(0, 0, 0, 0.38) !important;
	opacity: 1;
	transition: all 0.5s;
}







.side-nav-categories{
	background-color: #fbfbfb;
    border: 1px solid #eaeaea;
}

.side-nav-categories h4{
	font-family: 'Open-Sans-Bold';
	padding-left: 12px;
}

.side-nav-categories ul{
	padding-left: 0px;
}

.side-nav-categories li{
	list-style-type: none;
}

.side-nav-categories a{
	text-decoration: none;
}

.side-nav-categories p{
	color: #979595;
    padding: 5px;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.side-nav-categories a:hover p{
	background-color: #49c2c2;
    color: #fff;
}

.side-nav-categories a.active p{
	background-color: #49c2c2;
    color: #fff;	
}

.side-nav-categories hr{
	margin-top: 5px;
    margin-bottom: 5px;
}

.dg-categories-content h2{
	margin-top: 0px;
}

.dg-categories-content h4{
    font-family: 'Open-Sans-bold';
}

.prod-margin{
	margin-top: 20px;
}

/*Administator*/
.admin-section{
    background-color: #ffffff;
    padding: 13px;
    margin-top: 0px;
}

.dg-administrator-container{
	background-color: #f0f9f9;
}

.admin-dashboard-section{
	margin-top: 0px;
	margin-bottom: 30px;
}

.admin-dashboard-section-first{
	margin-top: 30px;
	margin-bottom: 30px;
}


.admin-dashboard-section p{
	font-size: 15px;
    line-height: 1.5em;
}

.admin-dashboard-section table h4{
	margin-bottom: 5px;
    margin-top: 5px;
}


.category-table tr{
	border: 1px solid #ddd;
}
.category-table td{
	color: #7c7c7c;
}

.dg-categories-content .table-responsive{
	
	width: 100%;
}

.add-cat-btn{
	background-color: #49c2c2;
    border: 1px solid #49c2c2;
    font-size: 24px;
    color: #ffffff;
    padding: 4px 20px;
}

.add-cat-btn:hover{
    color: #ffffff;
    text-decoration: none;
}

/*End Administator*/
    


.categories-hover-item{
	background-color: rgba(0, 0, 0, 0.38);
    width: 252px;
    height: 252px;
    display: block;
    margin-top: -252px;
    position: absolute;
    padding-top: 34%;
    padding-left: 35%;
    opacity: 0;
}

.categories-hover-item i{
	padding: 14px;
    font-size: 20px;
    background-color: #49c2c2;
    border-radius: 25px;
    color: #ffffff;
}

.categories-hover-item:hover{
	opacity: 1;
    transition: all 0.5s;
}

.acc-img{
	border-radius: 50%;
    width: 60px;
    height: 60px;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 25px;
	    padding-bottom: 25px;
	    color: #ffffff !important;
	    font-family: 'Open-Sans';
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.navbar-nav>li>a.user-login {
	    background-color: #3fb7b7;
		padding: 10px;
		border-radius: 10px;
		/*font-family: 'Open-Sans-Bold';*/
	}

	.navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	    color: #ffffff;
	    background-color: #3fb7b7;
	    font-family: 'Open-Sans-Bold';
	}

}

/*OverRide*/
.form-control{
    border-radius: 1px;
    padding: 20px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #49c2c2;
    border-color: #49c2c2;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    /*padding-bottom: 20px;*/
}


.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.dropdown-menu {
    border-radius: 1px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #3fb7b7;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

.nav-tabs{
	margin-bottom: 20px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 1px;
    color: #7c7c7c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 1px;
    color: #49c2c2;
    font-weight: bold;
}


.table-custom-upgrade td, .table-custom-upgrade th{
	border: 1px solid #ddd !important;	
}


.table-custom-upgrade a, .table-custom-upgrade a:hover{
	background-color: #49c2c2;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.table-custom-upgrade .selected, .table-custom-upgrade .selected:hover{
	color: #74c249;
    font-weight: bold;
    background-color: rgba(73, 194, 194, 0);
}

.btn-profile-submit{
	background-color: #49c2c2;
    color: #ffffff;
    padding: 9px 13px;
    border-radius: 4px;
    margin: 4px;
    text-decoration: none;
}